/*
 * Biowulf Nextflow config
 *
 * Assumptions:
 *   - Runs with slurm executor by default. Specify '-profile local' for testing purposes with local executor.
 */

params {
    config_profile_description = 'Biowulf Nextflow config'
    config_profile_contact     = 'staff@hpc.nih.gov'
    config_profile_url         = 'https://hpc.nih.gov/apps/nextflow.html'
    clusterOptions             = null
    architecture               = 'x86'
    
    // Optional: use local scratch for pipeline temp files
    tmp_dir                    = System.getenv('TMPDIR') ?: "/tmp/${params.timestamp}"
}

docker {
    enabled = false
}

// Singularity settings
singularity {
    enabled      = true
    autoPullMode = true
    autoMounts   = true
    cacheDir     = "/data/${System.getenv('USER')}/nxf_singularity_cache"
    libraryDir   = "/data/OpenOmics/SIFs"
    pullTimeout  = '90 min'
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,HTTPS_PROXY,HTTP_PROXY,FTP_PROXY,NO_PROXY,no_proxy,DISPLAY,SLURM_JOB_ID,SLURM_JOBID,SINGULARITY_BINDPATH,TMPDIR'
}

// Environment visible to Nextflow tasks
env {
    SINGULARITY_CACHEDIR = "/data/${System.getenv('USER')}/.singularity"
    OMP_NUM_THREADS      = 1
    OPENBLAS_NUM_THREADS = 1
    PYTHONNOUSERSITE     = 1
}

// Perform work directory cleanup after a successful run
// TODO testing: workflow.output.mode = 'copy'
cleanup            = false
timeline.enabled   = true
report.enabled     = true
timeline.overwrite = true
report.overwrite   = true

// Default slurm and gpu submission
executor {
    name              = 'slurm'
    queue             = 'norm'
    queueSize         = 200
    pollInterval      = '2 min'
    queueStatInterval = '5 min'
    submitRateLimit   = '6/1min'
}

process {
    executor       = 'slurm'
    errorStrategy  = { task.exitStatus in [143,137,104,134,139,151,140,247,12,1,250] ? 'retry' : 'finish' }
    maxRetries     = 2
    resourceLimits = [ cpus: 192, memory: 751.GB, time: 240.h ]
    clusterOptions = { "--gres=lscratch:${50 * task.attempt}" }
    scratch        = '/lscratch/$SLURM_JOB_ID'
    stageInMode    = 'symlink'
    stageOutMode   = 'rsync' 
    _JAVA_OPTIONS  = "-Djava.io.tmpdir=/data/${System.getenv('USER')}/.cache"

    // for running pipeline on group sharing data directory, this can avoid inconsistent files timestamps
    cache          = 'lenient'

    withLabel: 'gpu' {
        queue            = 'gpu'
        time             = { 4.h * task.attempt }
        clusterOptions   = '--gres=lscratch:50,gpu:1 --constraint="gpua100|gpuv100|gpuv100x"'
        containerOptions = "--nv"
    }
}

// Local execution profile for testing purposes
profiles {
    local {
        process {
            executor = 'local'
            cache    = 'lenient'
            memory   = "${System.getenv('SLURM_MEM_PER_NODE') ?: '4000'} MB"
            cpus     = "${System.getenv('SLURM_CPUS_PER_TASK') ?: '2'}"
            process."withLabel:gpu".containerOptions = "--nv"
            _JAVA_OPTIONS="-Djava.io.tmpdir=${System.getenv('TMPDIR')}"
        }
    }
}
